<!DOCTYPE HTML>
<html>
<head>
    <title>Network Listener</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      let socket = io('/network-listener')
      socket.on('connect', function() {
        socket.emit('my event', "Connected mah boi!!!!!")
      })

      socket.on('server response', function(res){
        console.log(res)
      })

      socket.on('event repeater', function(res){
        console.log(res)
      })
    </script>
</head>
<body>
    <h1>Network Listener</h1>
</body>
</html>

